@import "tailwindcss";

.game-card{
    width:180px;
    height:250px;

    display:flex;
    align-items:flex-end;
    justify-content:center;

    padding:20px;

    color:white;
    font-weight:700;
    text-align:center;

    border-radius:20px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(10px);

    border:2px solid rgba(139,92,246,.7);

    box-shadow:
    0 0 15px rgba(168,85,247,.5),
    0 0 35px rgba(59,130,246,.3);

    transition:.4s;

    transform:perspective(1000px) rotateX(-30deg);
}

.game-card:hover{
    transform:translateY(-10px) scale(1.05);

    box-shadow:
    0 0 25px rgba(168,85,247,.9),
    0 0 60px rgba(59,130,246,.7);
}

.newsletter-btn:hover{
    box-shadow:
    0 0 20px rgba(168,85,247,.8),
    0 0 40px rgba(59,130,246,.6);
}

.footer-heading{
    color:white;
    font-size:1.25rem;
    font-weight:700;
}

.footer-link{
    color:#9ca3af;
    display:inline-block;
    position:relative;
    transition:all .3s ease;
}

.footer-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0%;
    height:2px;
    background:linear-gradient(
        90deg,
        #8b5cf6,
        #06b6d4
    );
    transition:width .3s ease;
}

.footer-link:hover{
    color:#22d3ee;
    transform:translateX(6px);
}

.footer-link:hover::after{
    width:100%;
}

.footer-link-small{
    color:#6b7280;
    transition:.3s;
}

.footer-link-small:hover{
    color:#22d3ee;
}

.social-icon{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(139,92,246,.3);
    transition:.3s;
    font-size:1.2rem;
    color:white;
}

.social-icon:hover{
    transform:translateY(-5px) scale(1.1);
    box-shadow:
        0 0 15px rgba(168,85,247,.7),
        0 0 30px rgba(6,182,212,.5);
}